*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.backgroundAnimation{
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: opacityTwo 1s ease forwards;
	pointer-events: none;
	animation-delay: 4s;
}

.logoText{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: white;
	font-size: 3.5rem;
	padding-top: 5px;
	opacity: 0;
	animation: opacity 3s ease forwards;
	animation-delay: 1s;
}

.logo{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
}

#filled{
	opacity: 0;
	animation: opacity 4s ease forwards;
	animation-delay: 1s;
}

#stroke{
	stroke-dasharray: 468.16278076171875;
	stroke-dashoffset: 468.16278076171875;
	animation: line-anim 1.5s ease forwards;
}

@keyframes line-anim{
	to{
		stroke-dashoffset: 0;
	}

}

@keyframes opacity{
	to{
		opacity: 1;
	}

}

@keyframes opacityTwo{
	to{
		opacity: 0;
	}
}


