
.eachProject {
	font-family: 'Roboto', sans-serif;
	padding-top: 120px;
	/*width: 700px;*/
	display: grid;
    grid-template-columns: minmax(300px, 700px);
  }

.each_projectTitle {
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	font-size: 100%;
	margin: 0;
	animation-duration: 2s;
	animation-name: text;
}

.each_projectInfo {
	display: flex;
    flex-direction: column;
	font-weight: 400;
	text-decoration: none;
	animation-duration: 4s;
	animation-name: text;
}

.each_projectText {
	font-weight: 300;
	font-size: 90%;
	color: black;
	text-decoration: none;
	animation-duration: 4s;
	animation-name: text;
	margin: 20px 0 20px 0;
}

.eachProject img{
	width: 100%;
	animation-duration: 3s;
	animation-name: text;
}

.imgDescription{
	font-weight: 300;
	font-size: 75%;
	animation-duration: 4s;
	animation-name: text;
	margin: 0;
	padding: 3px 0 10px 0;
}

.imgDescription a{
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 768px) {
    .eachProject {
       padding-top: 20px;
    }
}

