body {
    margin: 30px;
}


/*Here starts the MENU styling*/

.header{
    width: 200px;
    height: 60px;
    margin: 0;
    align-content: center;
    position: relative;
    top: 0;
}

.Title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 140%;
    display: inline;
    white-space: nowrap
}

.Title a{
    color: black;
    text-decoration: none;
}

.subTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 130%;
    margin: 0;
    text-decoration: none;
    display: inline;
}

.sideBar {
    position: fixed;
    width: 200px;
    height: 100vh;
    margin-bottom: 10px;
    text-align: end;
}


.nav-links{
    text-align: right;
    display: block;
    margin-top: 30%;
    font-size: 100%;
    list-style: none;
}

.nav-links a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none;
    font-weight: 300;
    display: block;
    margin-bottom: 15px;
    transition: 300ms ease;
}

.nav-links a:hover{
    font-weight: 600;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    visibility: hidden;
 }

@media screen and (max-width: 768px) {
  
    body{
        overflow-y: auto;
        overflow-x: hidden;
    }
  
    .sideBar{
        /*background-color: blue;*/
        position: relative;
        display: flex;
        align-items: center;
        height: 60px;
        width: 100%;
        top: 0;
        vertical-align: middle;
    }

    .burger{
        position: absolute;
        right: 5px;
    }

    .burger div {
        visibility: visible;
        transition: all 0.3s ease-in;
    }

    .header {
        display: inline-block;
        position: relative;
    }
/*
      .nav-links{
        background-color: rgba(255,255,255, 0);
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 400px;
        width: 100%;
        height: 500%;
        padding: 25px 0 0 0;
        transform: translateX(-110%);
        transition: transform 0.5s ease-in;
        z-index:1000;
      }
*/
      .nav-links{
        background-color: rgba(255,255,255, 0);
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 450px;
        width: 100%;
        height: 500%;
        padding: 25px 0 0 0;
        -webkit-transform: translateX(-110%);
            -ms-transform: translateX(-110%);
                transform: translateX(-110%);
        -webkit-transition: -webkit-transform 0.5s ease-in;
        transition: -webkit-transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in;
        transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
        z-index:1000;
      }

      .nav-links li{
        opacity: 0;
        transition: transform 0.5s ease-in;
      }

      .nav-active{
        transform: translateX(0);
        background-color: rgba(255,255,255, 0.90);
      }

      @keyframes navLinkFade{
        from{
          opacity: 0;
          transform: translateX(50px);
        }
        to{
          opacity: 1;
          transform: translateX(0px);
        }
      }

      .toggle .line1{
        transform: rotate(-45deg) ;

      }
      .toggle .line2{
        opacity: 0;
      }
      .toggle .line3{
        transform: rotate(45deg) ;
      }

 }

/*Here finishes the MENU styling*/

/*Here starts the CONTENT styling*/


.container {
    padding: 0;
    margin: 0 0 0 220px;
    animation-duration: 750ms;
}



@media screen and (max-width: 768px) {
    .container {
      position: relative;
      margin: 50px 0 0 0;
      overflow-y: auto;
      overflow-x: hidden;
      /*display: none;*/
    }

}

/*Here finishes the MAIN CONTENT CONTAINER styling*/

/*Here starts the PROJECTS SECTION styling*/

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    padding: 0;
    animation-duration: 2s;
    animation-name: text;
}


.projectTitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 90%;
    margin: 1%;
}

.projectDescription{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 90%;
    margin: 1%;
}


.project img {
    filter: grayscale(100%);
    width: 100%;
    transition: all 400ms ease-out;
    cursor: pointer;
}

.projects img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
}



/*Here finishes the PROJECTS SECTION styling*/

/*Here starts the PROJECT LIST styling*/


.projectList {
  font-family: 'Roboto', sans-serif;
  padding-top: 134px;
  /*width: 700px;*/
  display: grid;
  grid-template-columns: minmax(300px, 700px);
}

@media screen and (max-width: 768px) {
    .projectList {
       padding-top: 0px;
    }
}

/*Here finishes the PROJECT LIST styling*/

/*Here starts the CV styling*/

.cv {
  font-family: 'Roboto', sans-serif;
  padding-top: 167px;
  /*width: 700px;*/
  display: grid;
  grid-template-columns: minmax(300px, 700px);
}

table {
  border-spacing: 0 10px;
}

th{
  font-weight: 300;
  text-decoration: none;
  text-align: left;
  vertical-align: center;
  font-size: 100%;
}

.experience{
  max-width: 500px;
}

.studies{
  max-width: 600px;

}

.thick {
    font-weight: 300;
}

.thick2 {
    font-weight: 400;
}

.thick3 {
    font-weight: 500;
}


.icons {
  opacity: 65%;
  transition-duration: 300ms;
}

.icons:hover {
  opacity: 100%;
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .cv {
       padding-top: 0px;
    }
}

/*Here finishes the CV styling*/

/*Here starts the ABOUT ME styling*/


.aboutMe {
  font-family: 'Roboto', sans-serif;
  padding-top: 202px;
  /*width: 700px;*/
  display: grid;
  grid-template-columns: minmax(300px, 700px);
}

@media screen and (max-width: 768px) {
    .aboutMe {
       padding-top: 0px;
    }
}

/*Here finishes the ABOUT ME styling*/

/*Here starts the CONTACT ME styling*/

.contactMe {
  font-family: 'Roboto', sans-serif;
  padding-top: 236px;
  /*width: 700px;*/
  display: grid;
  grid-template-columns: minmax(300px, 700px);
}

.subTitlePage {
  font-weight: 600;
  animation-duration: 2s;
  animation-name: text;
}

.textStandard {
  font-weight: 300;
  text-decoration: none;
  animation-duration: 4s;
  animation-name: text;
}

.textStandard a{
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
    .contactMe {
       padding-top: 0px;
    }
}

@keyframes text {
0%   {opacity: 0%}
100% {opacity: 100%;}



/*Here finishes the CONTACT ME styling*/

/*Here starts the SOCIAL MEDIA styling*/

/*

.socialMedia {
    width: 200px;
    margin: 0 auto 0 auto;
    align-content: center;
    position: fixed;
    bottom: 10px;
}

.SM_Icon {
    align-self: end;
    margin-left: 37px;
    padding: 0;
    width: 13%;
    transition: 500ms;
}

.SM_Icon:hover{
    filter: invert(75%);
}

@media screen and (max-width: 768px) {
    .socialMedia {
       display: block;
       margin: 30px auto 10px auto;
       align-content: center;
       position: relative;
   }
}

*/

/*Here finishes the SOCIAL MEDIA styling*/


